<%
    stitle = @student.id.nil? ? stitle = t('admin.orgs.create_student'):t('admin.orgs.update_student')
-%>

<%= form_for [:admin, @student], :url => add_student_admin_sclass_path do |f| %>
<%= f.error_messages %>
<table >
    <%= cell(t("admin.users.lname"), (f.text_field :name))%>
    <%= cell(t("admin.users.sname"), (f.text_field :sname))%>
    <%= cell(t("admin.orgs.snumber"), (f.text_field :unumber))%>
    <%= cell("", (submit_tag stitle))%>
</table>
<% end %>
