<% content_for :header do -%>
	<%= configatron.site_name %>
<% end -%>


<% content_for :sidebar do -%>

	<h2><%= t("site.sidebar") %></h2>
	<% if logged_in? %>	
		<ul>
			<li><a href="#"><%= t("session.log_in") %></a></li>
			<li><a href="#"><%= t("session.sign_up") %></a></li>
			<li><a href="#"><%= t("site.needhelp") %></a></li>
		</ul>
	<% else -%>
		
	<% end -%>
<% end -%>


<p><%= t("site.description") %></p>

