<ul>
	<% if logged_in? %>
		<li><%= tab_to t("site.general"), [{:controller => "dashboard" }] %></li>
		
		<li><%= tab_to t("site.my_course"), [{:controller => "dashboard" }] %></li>

		<li style="float: right;"><%= tab_to t("site.support_info") %></li>
		<li style="float: right;"><%= tab_to t("site.course_admin") %></li>
		<li style="float: right;"><%= tab_to t("site.question_admin") %></li>
	
	<% else  %>
		<li><%= tab_to t("site.general"), [{:controller => "dashboard" }] %></li>
	<% end %>
</ul>