<p>
<%= f.label t("admin.roles.name") %><br />
<%= f.text_field :name %><br />

<%= f.label t("admin.roles.desc") %><br />
<%= f.text_area :description,:rows =>4,:cols=>28 %><br />

<%= f.submit t("admin.roles.create") %>
</p>
