<% content_for :header do -%>
	<%= t('admin.users.title', :app => configatron.site_name) %>
	(<%= t('.display', :count => @users.count)%>)
<% end -%>
  
<% content_for :sidebar do -%>
    <h2><%= t('.search') %> </h2>
    <ul><li>
	<%= form_tag admin_users_search_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search], :type => "" , :results => 5, :placeholder =>  t('.search_by') %>
            <%= submit_tag  t('.search'), :name => nil %>
        <% end %>
    </li></ul>

    <h2><%= t('.operation') %> </h2>
    <ul><li><%= link_to t('.create_user'), new_admin_user_path %></li>
		<li><%= link_to t('.purge_all'), new_admin_user_path %></li>
	</ul>
    
    <h2><%= t('.filtr') %></h2>
    <ul>
	<li><%= link_to t('.options.admin'), filter_admin_users_url(:by=>"roles",:name=>"admin") %> |
		<%= link_to t('.options.teacher'), filter_admin_users_url(:by=>"roles",:name=>"teacher") %> |
		<%= link_to t('.options.student'), filter_admin_users_url(:by=>"roles",:name=>"student") %></li>
 	<li><%= link_to t('.options.all'), admin_users_url %> | 
		<%= link_to t('.options.active'), filter_admin_users_url(:by=>"active") %> | 
		<%= link_to t('.options.suspended'), filter_admin_users_url(:by=>"suspended") %> | 
		<%= link_to t('.options.pending'), filter_admin_users_url(:by=>"pending") %> | 
		<%= link_to t('.options.deleted'), filter_admin_users_url(:by=>"deleted") %></li>
    </ul>
	
<% end -%>

<table class="index">
  <tr>
	<th>ID</th>
	<th><%= t('activerecord.attributes.user.login')%></th>
	<th><%= t('activerecord.attributes.user.sname')%></th>
	<th><%= t('activerecord.attributes.user.email')%></th>
	<th><%= t('activerecord.attributes.user.status')%></th>
	<th><%= t('activerecord.attributes.user.admin')%></th>
  </tr>
  
  <% for user in @users %>
  <tr>
	<td><%= user.id %></td>
	<td><%= link_to h(user.login || user.site_name), admin_user_url(user) %></td>
	<td><%= user.sname %></td>
	<td><%= user.email %></td>
	<td><%= user.state %></td>
	<td><%= t('general.yes') if user.admin? %></td>
	<td class="actions">
		<%= link_to t('general.edit'), edit_admin_user_path(user) %>
		<% if user.pending? %>
			<%= link_to t('admin.users.options.activate'), activate_admin_user_url(user), :method => :put %>
			<%= link_to t('admin.users.options.suspend'), suspend_admin_user_url(user), :method => :put %>
			<%= link_to t('admin.users.options.delete'), admin_user_url(user), :method => :delete, :confirm => "Are you sure?" %>
		<% elsif user.passive? %>
			<%= link_to t('admin.users.options.activate'), activate_admin_user_url(user), :method => :put %>
			<%= link_to t('admin.users.options.suspend'), suspend_admin_user_path(user), :method => :put %>
			<%= link_to t('admin.users.options.delete'), admin_user_url(user), :method => :delete, :confirm => "Are you sure?" %>
		<% elsif user.active? %>
			<%= link_to t('admin.users.options.suspend'), suspend_admin_user_path(user), :method => :put  %>
			<%= link_to t('admin.users.options.delete'), admin_user_url(user), :method => :delete, :confirm => "Are you sure?" %>
		<% elsif user.suspended? %>
			<%= link_to t('admin.users.options.unsuspend'), unsuspend_admin_user_url(user), :method => :put %>
			<%= link_to t('admin.users.options.delete'), admin_user_url(user), :method => :delete, :confirm => "Are you sure?" %>		
		<% end %>
	</td>
  </tr>
  <% end %>
</table>

<%= will_paginate @users, :previous_label => t("general.prev_page"), :next_label => t("general.next_page")%>
